.sales-person-name {
    margin: 8px;
    font-size: large;
    font-weight: bold;
}

.sales-person-availability-label {
    margin: 8px;
    font-weight: bold;
}
.sales-person-availability {
    font-weight: normal;
}

.sales-person-groups-list {
    margin: 8px;
    font-weight: bold;
}

.sales-person-groups {
    font-weight: normal;
}
